<h1>Todo#index</h1>
<p>Find me in app/views/todo/index.html.erb</p>
<div>
  <%= debug @todo %>
</div>
<h1> Todo list </h1>
<div>
  <ul>
    <% @todo.each do |todo| %>
      <li><%= todo.title %></li>
    <% end %>
  </ul>
</div>
